{% extends 'base.html.twig' %}


{% block title %}Créer une sortie{% endblock %}



{% block body %}


    <h1>Créer une sortie</h1>
<div class="container">
    {{ form_start(eventForm) }}

    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.startDateTime) }}
    {{ form_row(eventForm.registrationDeadline) }}
    {{ form_row(eventForm.nbRegistrationMax) }}
    {{ form_row(eventForm.duration) }}
    {{ form_row(eventForm.eventData) }}
    {{ form_row(eventForm.campus) }}
    {{ form_row(eventForm.place) }}

{#    <label for="street">Rue : </label>#}
{#    <input type="text" name="street">#}
{#    <label for="zipCode">Code postal : </label>#}
{#    <input type="text" name="zipCode">#}
{#    <label for="latitude">Latitude : </label>#}
{#    <input type="text" name="latitude">#}
{#    <label for="longitude">Longitude : </label>#}
{#    <input type="text" name="longitude">#}

    <button class="login-button green">Enregistrer</button>
    {{ form_end(eventForm) }}

    <a href="{{ path('place_add') }}"><button type="button" class="login-button green">Créer un lieu</button></a>
    <a href="{{ path('main_home') }}"><button type="button" class="login-button">Annuler</button></a>


    </div>


{% endblock %}
