{% extends 'base.html.twig' %}


{% block body %}


    <h1>Annuler une sortie</h1>
    <div class="container">
        {% set trans_day_hash = {
            'Monday': 'Lundi',
            'Tuesday': 'Mardi',
            'Wednesday': 'Mercredi',
            'Thursday': 'Jeudi',
            'Friday': 'Vendredi',
            'Saturday': 'Samedi',
            'Sunday': 'Dimanche'
        } %}

        {# Table de conversion des mois en français => utilisé plus bas #}
        {% set trans_month_hash = {
            'Jan': 'Janvier',
            'Feb': 'Février',
            'Mar': 'Mars',
            'Apr': 'Avril',
            'May': 'Mai',
            'Jun': 'Juin',
            'Jul': 'Juillet',
            'Aug': 'Août',
            'Sep': 'Septembre',
            'Oct': 'Octobre',
            'Nov': 'Novembre',
            'Dec': 'Décembre'
        } %}
        <ul>
            <li>Nom de la sortie : {{ event.name }}</li>
            <li>Date et heure de la sortie : {{ trans_day_hash[event.startDateTime | date('l')] }}
                {{ event.startDateTime | date('d') }}
                {{ trans_month_hash[event.startDateTime | date('M')] }}
                {{ event.startDateTime | date('Y à H:i') }}</li>
            <li>Campus : {{ event.campus.name }}</li>
            <li>Lieu : {{ event.place.name }}</li>
        </ul>


            {{ form_row(eventForm.eventData) }}


            <a href="{{ path('main_home') }}"><button type="submit" class="login-button green">Enregistrer</button></a>
            <a href="{{ path('main_home') }}"><button type="button" class="login-button">Annuler</button></a>



    </div>

{% endblock %}

{% block title %}
    Annuler une sortie
{% endblock %}