{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

            {{ form_start(eventForm) }}
    <h1>Modifier une sortie</h1>
        <div class="label2">
            <br>
        {{ form_row(eventForm.name) }}
        {{ form_row(eventForm.startDateTime) }}
        {{ form_row(eventForm.registrationDeadline) }}
        {{ form_row(eventForm.nbRegistrationMax) }}
        {{ form_row(eventForm.duration) }}
        {{ form_row(eventForm.eventData) }}
        {{ form_row(eventForm.campus) }}
        {{ form_row(eventForm.place) }}

</div>

        <div style="display: inline-block">
        <button type="submit" class="login-button green">Enregistrer</button>
        {{ form_end(eventForm) }}

        <a href="{{ path('place_add') }}"><button type="button" class="login-button green">Créer un lieu</button></a>
        <a href="{{ path('main_home') }}"><button type="button" class="login-button">Annuler</button></a>
        <a href="{{ path('event_publish', {'id' : event.id}) }}"><button type="button" class="login-button green">Publier la sortie</button></a>

        </div>
    </div>
    </div>

{% endblock %}

{% block title %}
    Modifier une sortie
{% endblock %}

