{% extends 'base.html.twig' %}

{% block title %}Liste des sorties!{% endblock %}

{% block body %}

    <h2>Filtrer les sorties</h2>

    <div class="container-filter">

        {# div.flexsur3colonnes #}
        <div class="filter-item">
            {{ form_start(filterForm) }}
            {{ form_errors(filterForm) }}
            {{ form_row(filterForm.campus) }}
            {{ form_row(filterForm.name) }}
            {{ form_row(filterForm.startDate) }}
            {{ form_row(filterForm.endDate) }}
        </div>
        <div class="filter-item">
            {{ form_row(filterForm.eventsPlanned) }}
            {{ form_row(filterForm.eventsRegistered) }}
            {{ form_row(filterForm.eventsNotRegistered) }}
            {{ form_row(filterForm.eventsPassed) }}
        </div>
        <div class="filter-item">
            <button class="login-button green">Rechercher</button>
        </div>
        {{ form_end(filterForm) }}
    </div>

<div class="tableau">
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

    {% for event in events %}

        <tr>
            <td>{{event.name }}</td>
          <td>{{ event.startDateTime | date("d/m/Y à H:i")}}</td>
            <td>{{  event.registrationDeadline | date("d/m/Y")}}</td>
        <td>{{ event.user | length }} / {{ event.nbRegistrationMax}}</td>
          <td>{{ event.state.label }}</td>
            <td>{% if app.user and app.user.isRegister(event) %} X {% else %} {% endif %}</td>
           <td><a href="{{ path('user_show', {'id' : event.id})}}">{{ event.planner.name }} {{ event.planner.firstName | slice(0,1)}}.</a> </td>
           <td><a href="{{ path('event_show', {'id' : event.id}) }}">Afficher</a> - <a href="{{ path('event_updateEvent', {'id': event.id}) }}">Modifier</a> - <a href="{{ path('event_deleteEvent', {'id': event.id}) }}">Annuler</a> -
               {% if app.user and app.user.isRegister(event) %}
                   <a href="{{ path('main_addUserEvent', {'id': event.id}) }}">Se désinscrire</a>
               {% else %}
                   <a href="{{ path('main_addUserEvent', {'id': event.id}) }}">S'inscrire</a>
               {% endif %}


                  </td>

    {% endfor %}

        </tbody>
    </table>
</div>

    <br>
    <a href="{{ path('event_add') }}"><button type="button" class="login-button green">Créer une sortie</button></a>



{% endblock %}
