{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <h1>Première page Sortir</h1>
<div class="tableau">
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>


    {% for event in events %}

        <tr>
            <td>{{event.name}}</td>
          <td>{{ event.startDateTime | date("d/m/Y h:m")}}</td>
            <td>{{  event.registrationDeadline | date("d/m/Y")}}</td>
        <td>   /  {{ event.nbRegistrationMax}}</td>
          <td>{{ event.state.label }} coucouc</td>
          <td> vide</td>
           <td>{{ event.planner.name }} {{ event.planner.firstName | slice(0,1)}}. </td>
           <td><a href="{{ path('event_show', {'id' : event.id}) }}">Afficher</a></td>

    {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('event_add') }}"><button type="button">Créer une sortie</button></a>



{% endblock %}
