{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <h1>Première page Sortir</h1>
<div class="tableau">
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>


    {% for event in events %}

        <tr>
            <td>{{ event.name }}</td>
          <td>{{ event.startDateTime | date("d/m/Y à H:i")}}</td>
            <td>{{  event.registrationDeadline | date("d/m/Y")}}</td>
        <td>   /  {{ event.nbRegistrationMax}}</td>
          <td>{{ event.state.label }}</td>
            <td>{% for user in event.user %} X {% endfor %}</td>
           <td>{{ event.planner.name }} {{ event.planner.firstName | slice(0,1)}}. </td>
           <td><a href="{{ path('event_show', {'id' : event.id}) }}">Afficher</a> - <a href="{{ path('main_addUserEvent', {'id':event.id}) }}">S'incrire</a>
               {% for user in event.user %}   - <a href="{{ path('main_addUserEvent', {'id':event.id}) }}">Se désinscrire </a>{% endfor %}</td>

    {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('event_add') }}"><button type="button" class="login-button green">Créer une sortie</button></a>



{% endblock %}
