{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>

    <br>

    <h2>Filtrer les villes</h2>

    <br>

    <div class="container-filter">
        <div class="filter-item">
            {{ form_start(filterCities) }}
            {{ form_errors(filterCities) }}
            {{ form_row(filterCities.name) }}

        </div>
        <div class="filter-item">
            <button class="login-button green">Rechercher</button>
        </div>
        {{ form_end(filterCities) }}
    </div>

    <div class="tableau-admin">
        <table>
            <thead>
            <tr>
                <th>Villes</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for city in cities %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.zipCode }}</td>
                <td>
                    <a href="">Modifier</a>
                     -
                    <a href=""> Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
