{% extends 'base.html.twig' %}

{% block title %}Hello PlaceController!{% endblock %}

{% block body %}
<h1>Créer un lieu</h1>

    {{ form_start(placeForm) }}

    {{ form_widget(placeForm) }}
    {{ form_errors(placeForm) }}

    <button class="login-button green">Enregistrer</button>
    {{ form_end(placeForm) }}


    <a href="{{ path('event_add') }}"><button type="button" class="login-button green">Annuler</button></a>
{% endblock %}
