<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Event !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset ('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
        <link rel="icon" href="{{ asset('img/clipart2638015.png') }}">
    </head>


    <body>

    {% include 'bodyStructure/header/header.html.twig' %}

    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    {% include 'bodyStructure/footer/footer.html.twig' %}
    </body>

</html>
