{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="profil">

        {% if user.picture is not null %}
            <img class="imgUser" src="{{ asset('img/users/') ~ user.picture }}" alt="user picture">
            {% else %}
                <img class="imgUser" src="{{ asset('img/users/profil.png') }}" alt="user picture default">
        {% endif %}

        <h2>{{ user.username }}</h2>

        <div> Nom : {{ user.name }} </div>
        <div> Prénom : {{ user.firstName }} </div>
        <div> Téléphone : {{ user.phone }} </div>
        <div> Email : {{ user.email }} </div>
        <div> Campus : {{ user.campus.name }} </div>
        </div>
        <a href="{{ path('main_home') }}">
            <button type="button" class="login-button">Retour</button>
        </a>

{% endblock %}

