{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    <h2>Modifier Profil</h2>

    {# TODO : affichage si photo #}
    {% if user.picture is not null %}
        <img class="imgUser" src="{{ asset('img/users/') ~ user.picture }}" alt="user picture">
    {% else %}
        <img class="imgUser" src="{{ asset('img/users/profil.png') }}" alt="user picture default">
    {% endif %}

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    {{ form_errors(userForm) }}
    {{ form_rest(userForm) }}

    <button type="submit" class="login-button green">Enregistrer</button>
    {{ form_end(userForm) }}

    <a href="{{ path('main_home') }}">
        <button type="button" class="login-button">Annuler</button>
    </a>
</div>
{% endblock %}

