{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Update Profil</h2>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    {{ form_errors(userForm) }}

    <button>Update</button>
    {{ form_end(userForm) }}

    <a href="{{ path('main_home') }}">
        <button>Annuler</button>
    </a>

{% endblock %}

