{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}


    {{ form_start(userForm) }}
    <div>
    <h2>Modifier Profil</h2>

    {# TODO : affichage si photo #}
    {% if user.picture is not null %}
        <img class="imgUser" src="{{ asset('img/users/') ~ user.picture }}" alt="user picture">
    {% else %}
        <img class="imgUser" src="{{ asset('img/users/profil.png') }}" alt="user picture default">
    {% endif %}
        <br>
    </div>
    <div class="label2">
    {{ form_widget(userForm) }}
    {{ form_errors(userForm) }}
    {{ form_rest(userForm) }}
</div>
    <br>

    <div style="display: inline-block">
        <button type="submit" class="login-button green">Enregistrer</button>
        <a href="{{ path('main_home') }}">
            <button type="button" class="login-button">Annuler</button>
        </a>
        {{ form_end(userForm) }}
    </div>

{% endblock %}

